<%- include('./layout/header.ejs')%>

<section class="register-head">
    <h1 class="text-center">SILICONV</h1>
    <h6 class="text-center">Panel</h6>
</section>


<section class="register mx-auto">
    <div class="container">
        <form role="form" method="post" action="/register">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input name="name" type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">Password</label>
                <input name="repassword" type="password" class="form-control" id="exampleInputPassword2">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/login">I already have an account</a>
        </form>
    </div>

</section>


<%- include('./layout/footer.ejs')%>